@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-display: "Hanken Grotesk", "sans-serif";
	--color-emerald-1000: oklch(0.131 0.051 172.552);

	--color-velvet-50: #f0f0fd;
	--color-velvet-100: #e5e5fa;
	--color-velvet-200: #cfcff6;
	--color-velvet-300: #b4b2ef;
	--color-velvet-400: #9b92e7;
	--color-velvet-500: #8a78dc;
	--color-velvet-600: #7a5dce;
	--color-velvet-700: #694db5;
	--color-velvet-800: #564192;
	--color-velvet-900: #483a75;
	--color-velvet-950: #221b36;
	--color-velvet-1000: #221b36;
}
